.wrapper {
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	height: 100%;
	width: 100%;
}

.topWrapper {
	display: flex;
	flex: 3;
	overflow: hidden;

	.editorWrapper {
		display: flex;
		flex-direction: column;
		flex: 4;

		.tabWrapper {
			flex: 1;
			height: 32px;

			ul {
				li {
					font-size: 14px;
					padding: 6px 10px;

					&.active {
						background-color: #22272e;
					}
				}
			}
		}

		.editor {
			width: 100%;
			height: 100%;
			font-family: monospace;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: normal;
			line-height: 20px;
			overflow: auto;
			padding: 10px;
			tab-size: 2;
		}
	}

	.outputWrapper {
		flex: 5;
		overflow: hidden;

		.iframe {
			border: none;
			height: 100%;
			width: 100%;
		}
	}
}

.bottomWrapper {
	display: flex;
	flex: 1;
	flex-direction: column;
	overflow-y: hidden;

	.tabContentWrapper {
		background-color: #555555;
		display: flex;
		flex: 1;
		overflow-y: hidden;

		.tabContent {
			display: flex;
			flex: 1;
			height: 100%;

			.transpiledCodeWrapper, .consoleOutputWrapper {
				color: #ffffff;
				display: flex;
				flex: 1;
				height: 100%;
				overflow-y: scroll;

				code {
					background-color: #555555;
					flex: 1;
				}
			}
		}
	}
}

.tabWrapper {
	display: flex;
	flex-direction: row;
	height: 40px;
	width: 100%;

	ul {
		background-color: #373737;
		border: none;
		display: flex;
		flex-direction: row;
		user-select: none;
		width: 100%;

		li {
			background-color: #373737;
			border-top: 4px solid transparent;
			color: #fff;
			cursor: default;
			display: block;
			font-weight: 100;
			padding: 10px;
			user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;

			&.active {
				background-color: #555555;
				border-top-color: #327acc;
				color: #fff;
			}

			&:hover:not(.active) {
				background-color: #444444;
				cursor: pointer;
			}
		}
	}
}